* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fdfdfd;
    padding: 5px 10%;
}

.brand-name, .settings, .settings__user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.brand-name {
    align-items: center;
}

.brand-name__firts-part {
    font-size: 3rem;
    font-weight: 900;
    margin-right: 5px;
}

.i {
    color: red;
    position: relative;
  }
  .i:before {
    content: "ı";
    position: absolute;
    color: black;
  }

.brand-name__second-part {
    width: 40px;
    font-size: 1rem;
    font-weight: 900;
    margin-right: 5px;
    overflow-wrap: break-word;
    font-weight: 300;
    color: #bbbbbf;
    padding-top: 5px;
}

.settings__notifications {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-image: url("img/bell.png");
    cursor: pointer;
}

.settings__notifications:hover {
    background-image: url("img/bell_hover.png");
}

.settings__user-icon {
    width: 50px;
    height: 50px;
    background-color: #e98a1e;
    border-radius: 50%;
    font-size: 2.5rem;
    color: #fdfdfd;
    cursor: pointer;
}

.settings__user-icon input {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.settings_menu {
    position: absolute;
    width: 150px;
    padding: 5px 15px 15px 15px;
    top: 60px;
    right: 10vw;
    background-color: #fdfdfd;
    font-size: 1rem;
    list-style-type: none;
    transform: scale(0);
    box-shadow: 0px 0px 1px #c5c5c5;
    z-index: 2;
}

.settings_menu .username, hr {
    text-align: center;
    color: gray;
}

.settings_menu a {
    color: black;
    text-decoration: none;
}

.settings_menu li {
    line-height: 2rem;
}

.settings_menu li:hover {
    background-color: #eeeeee;
}

.settings__user-icon input:checked ~ ul {
    transform: none;
}


.main {
    padding: 45px 10%;
    background-color: #f5f7fb;
}

.container {
    display: grid;
    min-height: 560px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.card {
    color: white;
    perspective: 1000px;
}

.card-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition-duration: 0.3s;
}

.card-content {
    position: absolute;
    font-size: 1.5vw;
    font-weight: 700;
    color: black;
    text-align: start;
    z-index: -1;
}

.logo-card {
    grid-column: 1/4;
    grid-row: 1/5;
}

.logo-card__cover {
    background: center / contain no-repeat url("img/logo.png"), white;
}

.logo-card__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-button {
    width: 40%;
    height: 2.5rem;
    font-size: 2rem;
    color: white;
    background-color: #3191f6;
    border-radius: 5px;
    border: none;
}

.js-card {
    grid-column: 4/7;
    grid-row: 1/7;
    font-size: 8vw;
    color: black;
}

.logo-card-inner,
.js-card-inner,
.qa-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition-duration: 0.6s;
    transform-style: preserve-3d;
}

.logo-card__cover, .logo-card__content,
.js-card__cover, .logo-js,
.qa-card__cover, .qa-card__content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.js-card__cover {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: 900;
    background-color: #efca62;
}

.logo-card:hover .logo-card-inner,
.js-card:hover .js-card-inner,
.qa-card:hover .qa-card-inner {
    transform: rotateY(180deg);
}

.logo-card__content,
.js-card__content,
.qa-card__content {
    transform: rotateY(180deg);
}

.php-card {
    grid-column: 7/13;
    grid-row: 1/4;
    color: black;
}

.php-card:hover .php-card__cover {
    transform-origin: top;
    transform: scale(0, 1);
}

.php-card__cover {
    font-size: 7vw;
    font-style: italic;
    font-weight: 700;
    transform-origin: right top;
    background-color: #7c85b4;
}

.qa-card {
    grid-column: 1/4;
    grid-row: 5/9;
}

.qa-card__cover {
    font-size: 7vw;
    background-color: #50c86d;
}

.java-card {
    grid-column: 4/7;
    grid-row: 7/9;
}

.java-card:hover .java-card__cover {
    transform: scale(0, 1);
    transform-origin: bottom;
}

.java-card__cover {
    font-size: 5vw;
    background-color: #ca0f41;
}

.dotnet-card {
    grid-column: 7/11;
    grid-row: 4/9;
}

.dotnet-card:hover .dotnet-card__cover {
    transform: scale(0, 1);
    transform-origin: bottom right;
}

.dotnet-card__cover {
    font-size: 7vw;
    background-color: #521167;
}

.about-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-column: 11/13;
    grid-row: 4/9;
}

.about-card .card-content {
    width: 100%;
    height: 100%;
    font-size: 1vw;
    font-weight: 400;
    text-align: start;
    overflow: auto;
    z-index: 0;
}

.about-card__section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: auto;
}

.events-card__cover {
    font-size: 2vw;
    background-color: #3191f6;
    transform-origin: right;
}

.blog-card__cover {
    font-size: 2vw;
    background-color: #083a93;
    transform-origin: right;
}

.contacts-card__cover {
    font-size: 2vw;
    background-color: #032051;
    transform-origin: right;
}

.contacts-card__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.events:hover .events-card__cover,
.blog:hover .blog-card__cover,
.contacts:hover .contacts-card__cover {
    transform: scale(0, 1);
}

.facebook-logo:hover,
.telegram-logo:hover,
.instagram-logo:hover {
    filter: invert(70%) sepia(100%) hue-rotate(190deg) saturate(500%);
}

.notifications {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 230px;
    padding: 5px;
    color: white;
    user-select: none;
}

.notification {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.notification__image {
    margin-right: 3px;
    filter: invert(100%);
}

.error-notification {
    background-color: rgba(190, 4, 14, 0.7);
}

.success-notification {
    background-color: rgba(110,182,105, 0.7);
}

.footer {
    background-color: #f5f7fb;
    text-align: center;
    padding: 5px;
}

@media (max-width: 960px) {
    .header {
        padding: 5px 5%;
    }

    .main {
        padding: 45px 5%;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .logo-card {
        grid-column: 1/4;
        grid-row: 1/3;
    }

    .js-card {
        grid-column: 4/7;
        grid-row: 1/3;
        order: 3;
    }

    .about-card {
        grid-column: 7/9;
        grid-row: 1/3;
        order: 2;
    }

    .java-card {
        grid-column: 1/5;
        grid-row: 3/4;
    }

    .php-card {
        grid-column: 5/9;
        grid-row: 3/4;
    }

    .qa-card {
        grid-column: 1/5;
        grid-row: 4/5;
    }

    .dotnet-card {
        grid-column: 5/9;
        grid-row: 4/5;
    }
}